/*Global setting*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/*header setting*/
header {
    background-image: url("resources/Nav_bg.png");
    background-size: cover;
    position: sticky;
    top: 0;
    text-align: center;
    font-family: 'Vilanders Sans', sans-serif;
}
/*navigation setting*/
nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav li {
    list-style: none;
    font-weight: lighter;
    transition: background-color 0.5s, border-radius 0.5s;
}

nav ul a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.Web-name span {
    color: rgb(102, 255, 6);
    letter-spacing: 0.1rem;
    font-weight: bold;
    -webkit-text-stroke: 0.1rem rgb(0, 0, 0);
}

.Web-name span.h1 {
    font-size: 4rem;
}

.Web-name span.p {
    font-size: 2rem;
}
/*nav bar hover effect*/
nav ul li:hover {
    background-color: rgba(255, 228, 196, 0.678);
    border-radius: 2rem;
}

/*Main setting*/
main {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
}
/*intro section setting*/
section.intro {
    background-color: aliceblue;
    border-radius: 1rem;
    width: 50%;
    margin: 0.5rem auto 1rem 2rem;
    padding: 1rem 3rem 1rem 3rem;
    line-height: 1.5;
}

section.intro h2 {
    margin-bottom: 1rem;
}
/*button section setting*/
section.selected-button {
    text-align: center;
    margin: 1.5rem 0 2rem 0;
    display: flex;
    justify-content: space-evenly;
}

section.selected-button a {
    background-color: aquamarine;
    padding: 2rem;
    border-radius: 50%;
    text-decoration: none;
    color: black;
    box-shadow: 0 0.4rem rgb(57, 115, 113);
    font-weight: bolder;
}
/*selected sky-button effect*/
section.selected-button a.sky-button:hover {
    background-image: url("resources/sky_button bg.jpg");
    background-size: cover;
    color: rgb(0, 243, 255);
}

section.selected-button a.sky-button:active {
    background-image: url("resources/sky_button bg.jpg");
    background-size: cover;
    color: rgb(0, 242, 255);
    box-shadow: 0 0.1rem rgb(57, 115, 113);
    transform: translateY(0.3rem);
}
/*selected wild-button effect*/
section.selected-button a.wild-button:hover {
    background-image: url("resources/wild_button bg.jpg");
    background-size: cover;
    color: rgb(21, 255, 0);
}

section.selected-button a.wild-button:active {
    background-image: url("resources/wild_button bg.jpg");
    background-size: cover;
    color: rgb(21, 255, 0);
    box-shadow: 0 0.1rem rgb(57, 115, 113);
    transform: translateY(0.3rem);
}