/*Global setting*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Vilanders Sans', sans-serif;
    display: grid;
    grid-template-areas: "header"
                         "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

/*Content setting*/
/*header section*/
header {
    grid-area: header;
    text-align: center;
    align-content: center;
    letter-spacing: 0.2rem;
}

h1 {
    display: inline;
    font-size: 8rem;
}

span {
    font-size: 3rem;
}

/*footer section*/
footer {
    grid-area: footer;
    justify-items: end;
}

footer p {
    font-size: 1rem;
}


