/*Global setting*/
@font-face {
    font-family: "Caveat";
    src: url("Caveat/Caveat-VariableFont_wght.ttf") format("truetype"),
    url("Caveat/Caveat-VariableFont_wght.woff") format("woff"),
    url("Caveat/Caveat-VariableFont_wght.woff2") format("woff2");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("resources/Nav_bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*header setting*/
header {
    background-image: url("resources/intro_background2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: solid 0.1rem black;
    position: sticky;
    top: 0;
    z-index: 10;
    text-align: center;
    font-family: 'Vilanders Sans', sans-serif;
    width: 100vw;
}
/*navigation setting*/
/*desktop condition*/
nav.desktop ul {
    display: flex;
    justify-content: space-evenly;
}

nav.desktop li {
    list-style: none;
    font-weight: lighter;
    transition: background-color 0.5s, border-radius 0.5s;
}

nav.desktop ul a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.Web-name span {
    color: rgb(102, 255, 6);
    letter-spacing: 0.1rem;
    font-weight: bold;
    -webkit-text-stroke: 0.1rem rgb(0, 0, 0);
}

.Web-name span.h1 {
    font-size: 4rem;
}

.Web-name span.p {
    font-size: 2rem;
}
/*nav bar hover effect*/
nav.desktop ul li:hover {
    background-color: rgba(255, 228, 196, 0.678);
    border-radius: 50%;
}

/*condition for only mobile*/
nav.mobile ul {
    display: none;
}
/*icon setting
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}*/

/*Main setting*/
main {
    display: flex;
    flex-direction: column;
    font-family: "Caveat", sans-serif, monospace;
}
/*intro section setting*/
section.intro {
    background-color: aliceblue;
    border-radius: 1rem;
    width: 50%;
    margin: 0.5rem auto 1rem 0;
    padding: 1rem 3rem 1rem 6rem;
    line-height: 1.5;
    position: relative;
    left: -1rem;
    z-index: 0;
}

section.intro h2 {
    margin-bottom: 1rem;
    font-weight: bolder;
    font-size: 2.5rem;
}

section.intro p {
    font-size: 1.5rem;
}

/*button section setting*/
section.selected-button {
    text-align: center;
    margin: 1.5rem 0 2rem 0;
    display: flex;
    justify-content: space-evenly;
}

section.selected-button a {
    background-color: aquamarine;
    padding: 2rem;
    border-radius: 50%;
    text-decoration: none;
    color: black;
    box-shadow: 0 0.5rem rgb(72, 188, 184);
    font-weight: bolder;
    font-size: 1.5rem;
    transition: background-image 0.5s, color 0.5s;
}
/*selected sky-button effect*/
section.selected-button a.sky-button:hover {
    background-image: url("resources/sky_button bg.jpg");
    background-size: cover;
    color: transparent;
}

section.selected-button a.sky-button:active {
    background-image: url("resources/sky_button bg.jpg");
    background-size: cover;
    box-shadow: 0 0.1rem rgb(57, 115, 113);
    transform: translateY(0.3rem);
    color: transparent;
}
/*selected wild-button effect*/
section.selected-button a.wild-button:hover {
    background-image: url("resources/wild_button bg.jpg");
    background-size: cover;
    color: transparent;
}

section.selected-button a.wild-button:active {
    background-image: url("resources/wild_button bg.jpg");
    background-size: cover;
    box-shadow: 0 0.1rem rgb(57, 115, 113);
    transform: translateY(0.3rem);
    color: transparent;
}

/*content section setting*/
section#content {
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

section#content article {
    background-color: black;
    border: solid 0.1rem white;
    padding: 2rem;
}

section#content h3 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: bold;
}

section#content img {
    width: 30rem;
    height: 30rem;
}

section#content p {
    width: 30rem;
    font-size: 1.5rem;
}

section#content p.sky-no1, p.wild-no1 {
    margin-bottom: 3rem;
}

/*member section setting*/
section#member {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0);
    background-color:rgb(255, 255, 255);
    margin-bottom: 2rem;
}

section#member h3 {
    margin: 1.5rem 0;
    font-size: 2rem;
    font-weight: bold;
}

section#member .member-description {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

section#member img {
    width: 20rem;
    height: 20rem;
    border-radius: 20%;
}

section#member figcaption {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

section#member p {
    width: 20rem;
    font-size: 1rem;
}

/*contact section setting*/
footer {
    color: white;
    padding: 1rem;
}

/*media queries*/
@media all and (max-width: 430px) {
    nav.desktop {
        display: none;
    }

    nav.mobile ul {
        display: flex;
        justify-content: space-evenly;
        margin-top: 0.5rem;
    }

    
}